In [1]:
rainy = 1.0
allseason: 2.0
summer = 3.0
winter = 4.0
allseasons = 5.0

In [2]:
accesories=  1.0
clothing = 2.0
decorative = 3.0
handicrafts = 4.0
homecare = 5.0
selfcare = 6.0
kitchen = 7.0
food = 8.0
toys = 9.0
stationary = 10.0

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn import model_selection

In [4]:
def compute_accuracy(y_true, y_pred):
    correct_predictions = 0
    # iterate over each label and check
    for true, predicted in zip(y_true, y_pred):
        if true == predicted:
            correct_predictions += 1
    # compute the accuracy
    accuracy = correct_predictions/len(y_true)
    return accuracy

In [4]:
df = pd.read_csv("shgrec.csv")

In [5]:
data = df.copy()
data.head()

       season  ratings  avaialability  search    category   product
0       rainy        3              0       5  accesories  umbrella
1       rainy        4              1       2    clothing  raincoat
2  all season        5              0       6  decorative   candles
3  all season        5              0       9  accesories      comb
4       rainy        4              1       4    clothing  sweaters

In [6]:
import category_encoders as ce

In [7]:
data['season'].unique()

array(['rainy', 'all season', 'summer', 'winter', ' all season'],
      dtype=object)

In [8]:
data['category'].unique()

array(['accesories', 'clothing', 'decorative', 'handicrafts', 'homecare',
       'selfcare', 'kitchen', 'food', 'toys', 'stationary'], dtype=object)

In [9]:
season_dict = {'rainy': 1,'all season': 2,'summer': 3,'season': 4," all season":5}
data["season"] = data.season.map(season_dict)

In [10]:
category_dict = {'accesories' : 1, 'clothing':2, 'decorative':3, 'handicrafts':4, 'homecare':5,
       'selfcare':6, 'kitchen':7, 'food':8, 'toys':9, 'stationary':10}
data["category"] = data.category.map(category_dict)

In [11]:
data

    season  ratings  avaialability  search  category        product
0      1.0        3              0       5         1       umbrella
1      1.0        4              1       2         2       raincoat
2      2.0        5              0       6         3        candles
3      2.0        5              0       9         1           comb
4      1.0        4              1       4         2       sweaters
..     ...      ...            ...     ...       ...            ...
94     2.0        2              1       3        10          scale
95     2.0        3              0       3        10         eraser
96     2.0        4              1       5        10       sharpner
97     2.0        1              0       1        10          books
98     2.0        1              1       1         5  photo  frames

[99 rows x 6 columns]

In [12]:
data.shape

(99, 6)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   season         99 non-null     object
 1   ratings        99 non-null     int64
 2   avaialability  99 non-null     int64
 3   search         99 non-null     int64
 4   category       99 non-null     object
 5   product        99 non-null     object
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [14]:
data.isnull().sum()

season           3
ratings          0
avaialability    0
search           0
category         0
product          0
dtype: int64

In [15]:
data2 = data.fillna(2)

In [16]:
data.isnull().sum()

season           3
ratings          0
avaialability    0
search           0
category         0
product          0
dtype: int64

In [17]:
data2

    season  ratings  avaialability  search  category        product
0      1.0        3              0       5         1       umbrella
1      1.0        4              1       2         2       raincoat
2      2.0        5              0       6         3        candles
3      2.0        5              0       9         1           comb
4      1.0        4              1       4         2       sweaters
..     ...      ...            ...     ...       ...            ...
94     2.0        2              1       3        10          scale
95     2.0        3              0       3        10         eraser
96     2.0        4              1       5        10       sharpner
97     2.0        1              0       1        10          books
98     2.0        1              1       1         5  photo  frames

[99 rows x 6 columns]

In [18]:
data2.isnull().sum()

season           0
ratings          0
avaialability    0
search           0
category         0
product          0
dtype: int64

In [19]:
#pip install category_encoders

In [20]:
X = data2.iloc[:,:-1].values
Y = data2.iloc[:,-1].values

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.15)

In [22]:
models = []
models.append(('SVC', SVC(gamma ='auto', probability = True)))
models.append(('svm1', SVC(probability=True, kernel='poly', degree=1)))
models.append(('svm2', SVC(probability=True, kernel='poly', degree=2)))
models.append(('svm3', SVC(probability=True, kernel='poly', degree=3)))
models.append(('svm4', SVC(probability=True, kernel='poly', degree=4)))
models.append(('svm5', SVC(probability=True, kernel='poly', degree=5)))
models.append(('rf',RandomForestClassifier(n_estimators = 21)))
models.append(('gnb',GaussianNB()))
models.append(('knn1', KNeighborsClassifier(n_neighbors=1)))
models.append(('knn3', KNeighborsClassifier(n_neighbors=3)))
models.append(('knn5', KNeighborsClassifier(n_neighbors=5)))
models.append(('knn7', KNeighborsClassifier(n_neighbors=7)))
models.append(('knn9', KNeighborsClassifier(n_neighbors=9)))

In [23]:
vot_soft = VotingClassifier(estimators=models, voting='soft')
vot_soft.fit(X_train, y_train)
y_pred = vot_soft.predict(X_test)

In [24]:
y_pred

array(['wall hanging', 'gloves', 'night lamp', 'pens', 'wooden bangles',
       'raisins', 'face cream', 'face mask', 'herbal face creams',
       'gloves', 'origami', 'sofa set', 'photo  frames',
       'hand moisturizer', 'basil leaves'], dtype=object)

In [25]:
y_test

array(['dreamcatcher', 'bindi', 'wooden arts', 'scale', 'hair pins',
       'almonds', 'clay handi', 'straw', 'mop', 'raincoat', 'comb',
       'tissue paper', 'dhoop batti', 'hand soaps', 'sharpner'],
      dtype=object)

In [26]:
X_test

array([[ 2.,  1.,  1.,  6.,  4.],
       [ 2.,  5.,  1.,  3.,  1.],
       [ 2.,  4.,  1.,  2.,  4.],
       [ 2.,  2.,  1.,  3., 10.],
       [ 2.,  1.,  0.,  2.,  1.],
       [ 2.,  4.,  1.,  6.,  8.],
       [ 2.,  1.,  0.,  5.,  7.],
       [ 2.,  3.,  1.,  2.,  7.],
       [ 2.,  2.,  1.,  3.,  5.],
       [ 1.,  4.,  1.,  2.,  2.],
       [ 2.,  5.,  0.,  9.,  1.],
       [ 2.,  2.,  1.,  5.,  5.],
       [ 2.,  2.,  1.,  0.,  5.],
       [ 2.,  3.,  1.,  6.,  6.],
       [ 2.,  4.,  1.,  5., 10.]])

In [28]:
y_pred = vot_soft.predict([[summer, 5, 1, 3, homecare]])

In [29]:
y_pred

array(['night lamp'], dtype=object)

In [1]:
#accuracy_score = accuracy_score(y_test, y_pred)
#print(accuracy_score)

In [53]:
print('misclassified values : ', (y_test != y_pred).sum())

misclassified values :  15

In [2]:
#confusion_matrix = confusion_matrix(y_test,y_pred)
#confusion_matrix

In [55]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize = (10, 10))
mapheat =sns.heatmap(confusion_matrix)
mapheat